body {
  font-family: lab;
  margin: 0;
  padding: 0;
  font-size: txt-size;
  font-weight: weight;
}

html, body, div {
  box-sizing: border-box;
}

::selection {
  color: white;
  background: blurple;
}