data
dist
.vscode
__pycache__
**/__pycache__
*.pyc
**/*.pyc
**/.pytest_cache
**/.ipynb_checkpoints
**/venv

# specific for this project
components/p2p/js/src/components/chart
components/p2p/js/src/components/assets
components/p2p/js/src/components/style.css
sqllite/
