@font-face {
  font-family: enigma;
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/enigma.woff2') format('woff2'), url('assets/fonts/enigma.woff') format('woff'), url('assets/fonts/enigma.ttf') format('truetype');
}

@font-face {
  font-family: Chronicle Display;
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/ChronicleDisplay-Roman.woff2') format('woff2'), url('assets/fonts/ChronicleDisplay-Roman.woff') format('woff'), url('assets/fonts/ChronicleDisplay-Roman.ttf') format('truetype');
}

@font-face {
  font-family: Chronicle Display;
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/ChronicleDisplay-Semi.woff2') format('woff2'), url('assets/fonts/ChronicleDisplay-Semi.woff') format('woff'), url('assets/fonts/ChronicleDisplay-Semi.ttf') format('truetype');
}

@font-face {
  font-family: Lab Grotesque;
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/LabGrotesque-Light.woff2') format('woff2'), url('assets/fonts/LabGrotesque-Light.woff') format('woff'), url('assets/fonts/LabGrotesque-Light.ttf') format('truetype');
}

@font-face {
  font-family: Lab Grotesque;
  font-style: italic;
  font-weight: 300;
  src: url('assets/fonts/LabGrotesque-LightItalic.woff2') format('woff2'), url('assets/fonts/LabGrotesque-LightItalic.woff') format('woff'), url('assets/fonts/LabGrotesque-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: Lab Grotesque;
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/LabGrotesque-Regular.woff2') format('woff2'), url('assets/fonts/LabGrotesque-Regular.woff') format('woff'), url('assets/fonts/LabGrotesque-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Lab Grotesque;
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/LabGrotesque-Medium.woff2') format('woff2'), url('assets/fonts/LabGrotesque-Medium.woff') format('woff'), url('assets/fonts/LabGrotesque-Medium.ttf') format('truetype');
}

@font-face {
  font-family: Lab Grotesque;
  font-style: italic;
  font-weight: 500;
  src: url('assets/fonts/LabGrotesque-MediumItalic.woff2') format('woff2'), url('assets/fonts/LabGrotesque-MediumItalic.woff') format('woff'), url('assets/fonts/LabGrotesque-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: Lab Grotesque;
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/LabGrotesque-Bold.woff2') format('woff2'), url('assets/fonts/LabGrotesque-Bold.woff') format('woff'), url('assets/fonts/LabGrotesque-Bold.ttf') format('truetype');
}