.enigma-chart-container {
  height: 500px;
  width: 100%;
  position: relative;

  // margin-bottom: gutter;
  svg {
    // background: yellow;
    .grid-axis {
      grid-brightness = 90%;

      line, path {
        stroke: rgb(grid-brightness, grid-brightness, grid-brightness) !important;
      }
    }

    text {
      font-family: chronicle;
    }

    .scatter-plot {
      circle {
        // opacity: 0.2;
      }
    }
  }
}